<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-NodeManikinBridge-20191205032730.mdf;Initial Catalog=aspnet-NodeManikinBridge-20191205032730;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Settings for the parameter usage log, that is a log which will 
    contain information about which parameters this application has used. 
       ParameterUsageLogEnabled : true to save the log, false to not save the log
       ParameterUsageLogFileName : the file name to use for the log output
       ParameterUsageLogPath : the path where to store the log file. The specified path
          is either relative to the executable path or an absolute path containing a drive
          letter. "." means the directory containing the executable path.
    
    Both the file name and path can contain environment variables, e.g. %TMP%
    -->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ParameterUsageLogEnabled" value="true" />
    <add key="ParameterUsageLogFileName" value="ParameterUsageLog.xml" />
    <add key="ParameterUsageLogPath" value="." />
    <add key="AliveLinkUri" value="udp://224.168.100.9:15000/" />
    <add key="AliveRequestLinkUri" value="udp://224.168.100.9:15001/" />
    <add key="localAddress" value="localhost" />
    <add key="serverAddress" value="localhost" />
    <add key="connectAtStartup" value="false" />
    <add key="rpcConnectionTimeout" value="160000" />
    <add key="rpcOperationTimeout" value="10000" />
    <add key="debugRpcOperationTimeout" value="160000" />
    <!-- used in debug mode to allow spending some time in breakpoints -->
    <add key="rpcFileOperationTimeout" value="600000" />
    <add key="pingMaxTimeout" value="2000" />
    <add key="numberOfPings" value="16" />
    <add key="dataPacketFormatter" value="xml" />
    <!-- rawdatapacket, xml, binary-->
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <diagnostics>
      <messageLogging logEntireMessage="true" maxMessagesToLog="300" logMessagesAtServiceLevel="false" logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" maxReceivedMessageSize="1048576">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" />
          <security mode="None" />
        </binding>
        <binding name="FileTcpBinding" maxReceivedMessageSize="10067108864" transferMode="Streamed">
          <reliableSession ordered="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="WsDualHttpBinding" maxReceivedMessageSize="1048576">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" />
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
      <basicHttpBinding>
        <binding name="WsHttpBinding" maxReceivedMessageSize="10067108864" messageEncoding="Mtom" transferMode="Streamed">
        </binding>
        <binding name="HttpStreaming" maxReceivedMessageSize="10067108864" transferMode="Streamed" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
      </basicHttpBinding>
      <customBinding>
        <binding name="BinaryDualHttpBinding">
          <reliableSession />
          <compositeDuplex />
          <oneWay />
          <binaryMessageEncoding />
          <httpTransport authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" proxyAuthenticationScheme="Anonymous" realm="" useDefaultWebProxy="true" />
        </binding>
        <binding name="TextDualHttpBinding">
          <reliableSession />
          <compositeDuplex />
          <oneWay />
          <textMessageEncoding messageVersion="Soap12WSAddressing10" writeEncoding="utf-8" />
          <httpTransport authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" proxyAuthenticationScheme="Anonymous" realm="" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:15021/SapsServices/ManikinService/Binary" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="NetRpcLib.Wcf.ISapsManikinService" name="SapsManikinService_NET.TCP" />
      <endpoint address="http://localhost:15020/SapsServices/ManikinService/Ws" binding="wsDualHttpBinding" bindingConfiguration="WsDualHttpBinding" contract="NetRpcLib.Wcf.ISapsManikinService" name="SapsManikinService_HTTP" />
      <endpoint address="http://localhost:12020/SapsServices/ManikinService/Binary" binding="customBinding" bindingConfiguration="TextDualHttpBinding" contract="NetRpcLib.Wcf.ISapsManikinService" name="SapsManikinService_BINARY_HTTP" />
      <endpoint address="http://localhost:12020/SapsServices/ManikinService/Text" binding="customBinding" bindingConfiguration="TextDualHttpBinding" contract="NetRpcLib.Wcf.ISapsManikinService" name="SapsManikinService_SOAP_HTTP" />
      <endpoint address="http://localhost:15023/SapsServices/FileTransferService/Binary" binding="basicHttpBinding" bindingConfiguration="HttpStreaming" contract="NetFileLib.Wcf.IFileTransferService" name="FileTransferService_HTTP" />
    </client>
    <services>
      <service name="NetFileLib.Wcf.Server.FileTransferService">
        <host>
        </host>
        <endpoint address="FileTransferService/Binary" binding="basicHttpBinding" bindingConfiguration="HttpStreaming" contract="NetFileLib.Wcf.IFileTransferService" />
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>